$primary-orange: #fc4a1a;
$primary-yellow: #f7b733;
$primary-orange-opaque: #fc4a1a99;
$primary-yellow-opaque: #f7b73399;
$sidebar-width: 6rem;

/* border radius*/
$radius: 1.5rem;
$radius-small: 0.6rem;
$radius-huge: 5rem;

/* font size */
$heading-size: 7.451rem;
$para-size: 1.953rem;
